<!-- Set Your Variables Here -->
<% est = "$8-10" %>
<% stars = "http://tinyurl.com/odzxoo7" %>
<% restaurant = {name: "Tony's", address: ""} %>

<div class="row">
	<div class="col-sm-12 col-lg-12">
		<div class="panel">
			<div class="panel-heading">
			<%= image_tag stars %>
			</div>
			<div class="panel-body">

			</div>
		</div>
		<button id="barHop" type="button" class="btn btn-default btn-lg">
		Ride There With Uber <%= est %>
		</button>
	</div>
</div>