<div class="row">
	<div class="col-sm-12 col-lg-12">
		<div class="panel" id="map">
			<div class="panel-body">
				<article>
				</article>
			</div>
		</div>
		<button id="barHop" type="button" class="btn btn-default btn-lg">
		Hop To Bar
		</button>
	</div>
</div>