<div class="row">
	<div class="col-sm-12 col-lg-12">
		<div class="panel" id="map">
			<div class="panel-body">
				<article>
				</article>
			</div>
		</div>
		<%= form_tag("/random", method: "get") do %>
		  <%= hidden_field :coordinates , :latitude, id:'latitude'%>
		  <%= hidden_field :coordinates , :longitude, id:"longitude" %>
		  <%= submit_tag("Hop To Bar" , class:"btn btn-default btn-lg", :id=> "some_id") %>
		<% end %>
	</div>
</div>